
.Items{
   
   &__Header{
      padding: 20px 14px;
      border-bottom: 1px solid #E7ECF1;
      border-right: 1px solid #E7ECF1;
      display: flex;
      justify-content: center;
   }
   &__Search{
      height: 30px;
      background: #E7ECF1;
      border-radius: 15px;
      width: 90%;
      padding: 5px 5px 5px 16px;
      &::placeholder{
         font-size: 14px;
         line-height: 20px;
         letter-spacing: 0.4px;
         color: #6D84A0;
      }
   }
}
